<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="Home"><i class="fa fa-tachometer"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse"><i class="fa fa-address-card"></i> <span class="name">Cadastro</span></a>
            <ul id="elements-collapse" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Cadastro de Membro</a></li>
                <li class=""><a href="icons.html">Manutenções de Membros</a></li>
                <li class=""><a href="maps.html">Categorias</a></li>
                <li class=""><a href="maps.html">Condecorações</a></li>
                <li class=""><a href="maps.html">Cidade</a></li>
                <li class=""><a href="maps.html">Estado</a></li>
                <li class=""><a href="maps.html">País</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse5"><i class="fa fa-money"></i> <span class="name">Financeiro</span></a>
            <ul id="elements-collapse5" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Contas a Pagar</a></li>
                <li class=""><a href="icons.html">Contas a Receber</a></li>
                <li class=""><a href="maps.html">Produtos</a></li>
                <li class=""><a href="maps.html">Fornecedores</a></li>
                <li class=""><a href="maps.html">Tipos de Pagamentos</a></li>
                <li class=""><a href="maps.html">Tipos de Lançamentos</a></li>
            </ul>
        </li>
        <li class="panel2">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse1"><i class="fa fa-bell-o"></i> <span class="name">Presenças</span></a>
            <ul id="elements-collapse1" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Eventos</a></li>
                <li class=""><a href="icons.html">Participantes</a></li>
                <li class=""><a href="maps.html">Aprovações</a></li>
            </ul>
        </li>
        <li class="panel3">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse2"><i class="fa fa-pie-chart"></i> <span class="name">Relatórios</span></a>
            <ul id="elements-collapse2" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Relatórios Ativos</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse3"><i class="fa fa-book"></i> <span class="name">Bibliotecas</span></a>
            <ul id="elements-collapse3" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Documentos Ativos</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse4"><i class="fa fa-graduation-cap"></i> <span class="name">Cursos</span></a>
            <ul id="elements-collapse4" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Cursos Disponíveis</a></li>
                <li class=""><a href="charts.html">Cursos Realizados</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse6"><i class="fa fa-cogs"></i> <span class="name">Configurações</span></a>
            <ul id="elements-collapse6" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Perfis</a></li>
                <li class=""><a href="charts.html">Usuários</a></li>
            </ul>
        </li>
        <li class="">
            <a href="typography.html"><i class="fa fa-shopping-cart"></i>Loja Virtual</a>
        </li>
        <li class="">
            <a href="typography.html"><i class="fa fa-sliders"></i>CRM</a>
        </li>
    </ul>

    @*<h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>*@
    <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
    @*<ul class="sidebar-labels">
        <li>
            <a href="#">
                <i class="fa fa-circle text-warning"></i>
                <span class="label-name">My Recent</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-gray"></i>
                <span class="label-name">Starred</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-danger"></i>
                <span class="label-name">Background</span>
            </a>
        </li>
    </ul>*@

    @*<h5 class="sidebar-nav-title">Projects</h5>*@
    <!-- A place for sidebar notifications & alerts -->
    @*<div class="sidebar-alerts">
        <div class="alert fade in">
            <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <span class="text-white fw-semi-bold">Sales Report</span> <br>
            <div class="progress progress-xs mt-xs mb-0">
                <div class="progress-bar progress-bar-gray-light" style="width: 16%"></div>
            </div>
            <small>Calculating x-axis bias... 65%</small>
        </div>
        <div class="alert fade in">
            <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
            <div class="progress progress-xs mt-xs mb-0">
                <div class="progress-bar progress-bar-danger" style="width: 23%"></div>
            </div>
            <small>Provide required notes</small>
        </div>
    </div>*@
</nav>
