<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="panel">
            <a href="Home"><i class="fa fa-tachometer"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse"><i class="fa fa-address-card"></i> <span class="name">Cadastro</span></a>
            <ul id="elements-collapse" class="panel-collapse collapse ">
                <li class=""><a href="CadastroMembros">Cadastro de Membros</a></li>
                <li class=""><a href="icons.html">Manutenções de Membros</a></li>
                <li class=""><a href="maps.html">Categorias</a></li>
                <li class=""><a href="maps.html">Condecorações</a></li>
                <li class=""><a href="maps.html">Cidade</a></li>
                <li class=""><a href="maps.html">Estado</a></li>
                <li class=""><a href="maps.html">País</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse5"><i class="fa fa-money"></i> <span class="name">Financeiro</span></a>
            <ul id="elements-collapse5" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Contas a Pagar</a></li>
                <li class=""><a href="icons.html">Contas a Receber</a></li>
                <li class=""><a href="maps.html">Produtos</a></li>
                <li class=""><a href="maps.html">Fornecedores</a></li>
                <li class=""><a href="maps.html">Tipos de Pagamentos</a></li>
                <li class=""><a href="maps.html">Tipos de Lançamentos</a></li>
            </ul>
        </li>
        <li class="panel2">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse1"><i class="fa fa-bell-o"></i> <span class="name">Presenças</span></a>
            <ul id="elements-collapse1" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Eventos</a></li>
                <li class=""><a href="icons.html">Participantes</a></li>
                <li class=""><a href="maps.html">Aprovações</a></li>
            </ul>
        </li>
        <li class="panel3">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse2"><i class="fa fa-pie-chart"></i> <span class="name">Relatórios</span></a>
            <ul id="elements-collapse2" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Relatórios Ativos</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse3"><i class="fa fa-book"></i> <span class="name">Bibliotecas</span></a>
            <ul id="elements-collapse3" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Documentos Ativos</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse8"><i class="fa fa-globe"></i> <span class="name">Institucional</span></a>
            <ul id="elements-collapse8" class="panel-collapse collapse ">
                <li class=""><a href="Institucional">Personalizações do Site</a></li>
                <li class=""><a href="charts.html">Preview</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse4"><i class="fa fa-graduation-cap"></i> <span class="name">Cursos</span></a>
            <ul id="elements-collapse4" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Cursos Disponíveis</a></li>
                <li class=""><a href="charts.html">Cursos Realizados</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse7"><i class="fa fa-shopping-cart"></i> <span class="name">Loja Virtual</span></a>
            <ul id="elements-collapse7" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Categorias</a></li>
                <li class=""><a href="LojaCadastro">Cadastro de Produtos</a></li>
                <li class=""><a href="LojaProduto">Produtos da Loja</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#elements-collapse6"><i class="fa fa-cogs"></i> <span class="name">Configurações</span></a>
            <ul id="elements-collapse6" class="panel-collapse collapse ">
                <li class=""><a href="charts.html">Perfis</a></li>
                <li class=""><a href="charts.html">Usuários</a></li>
            </ul>
        </li>
        <li class="">
            <a href="typography.html"><i class="fa fa-sliders"></i>CRM</a>
        </li>
    </ul>    
</nav>
