<section class="module-small">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h3 class="module-title font-alt">Finalização da Compra</h3>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            <iframe src="@ViewData["BoletoUrl"]" style="width: 100%; min-height: 950px; border: 0px solid #CCC; display:block;"></iframe>
        </div>
        @*<div class="col-sm-6 col-sm-offset-1">
                <h3 class="module-title font-alt">Finalização da Compra</h3>
            </div>
            <iframe src="@ViewData["BoletoUrl"]" style="width: 80%; min-height: 950px; border: 0px solid #CCC; display:block;"></iframe>*@

    </div>
</section>
