<section class="module">
    <div class="container">
        @*<link href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Second product</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li>
                </ul>

                @*<form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary">Redeem</button>
                            </div>
                        </div>
                    </form>*@
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="font-alt mb-0">Endereço de Entrega</h4>
                <hr class="mb-2">
                <div class="row">
                    <div class="col-sm-8">
                        <form id="contactForm" role="form">
                            <div class="form-group">
                                <label>Nome do destinatário*</label>
                                <input class="form-control" type="text" id="name" name="name" required="required" data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                            @*<div class="form-group">
                                <label>Tipo de Endereço*</label>
                                <select name="tipoend" id="tipoend" class="form-control input">
                                    <option value="Apartamento">Apartamento</option>
                                    <option value="Casa">Casa</option>
                                    <option value="Comercial">Comercial</option>
                                    <option value="Outros">Outros</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>*@
                            <div class="form-group">
                                <label>CEP*</label>
                                <input class="form-control" name="cep" type="text" id="cep" value="" size="10" maxlength="9" />                                
                            </div>
                            <div class="form-group">
                                <label>Endereço*</label>
                                <input class="form-control" name="rua" type="text" id="rua" readonly="readonly" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label>Número*</label>
                                <input class="form-control" type="text" name="numero" required="required" data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label>Complemento</label>
                                <input class="form-control" type="text" name="complemento" required="required" data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label>Bairro*</label>
                                <input class="form-control" name="bairro" type="text" id="bairro" readonly="readonly" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label>Cidade*</label>
                                <input class="form-control" class="form-control" type="text" id="cidade" name="cidade" readonly="readonly" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label>Estado*</label>
                                <input class="form-control" type="text" id="uf" name="uf" readonly="readonly" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success btn-round" id="cfsubmit" type="submit">Salvar Alterações</button>
                            </div>
                        </form>
                    </div>
                </div>


                <hr class="mb-2">
                <h4 class="font-alt mb-0">Formas de Pagamento</h4>
                <hr class="mb-4">

                <div role="tabpanel">
                    <ul class="nav nav-tabs font-alt" role="tablist" style="font-size: 12px;">
                        <li class="active"><a href="#support" data-toggle="tab" aria-expanded="true"><i class="fa fa-credit-card"></i>Cartão de Crédito</a></li>
                        <li class=""><a href="#sales" data-toggle="tab" aria-expanded="false"><i class="fa fa-barcode"></i>Boleto</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="support">
                            <img src="~/assets/images/bandeirasPagarMe.png" style="display: block; margin-left: auto; margin-right: auto;" />
                            <form role="form" method="post">
                                <div class="form-group">
                                    <label>Nome do Cartão</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Número Cartão</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="VecimentoMM" class="hidden-xs">Vecimento</label>
                                            <div class="input-group">
                                                <input type="number" min="1" class="form-control" placeholder="MM">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="VecimentoMM" class="hidden-xs">Vecimento</label>
                                            <div class="input-group">
                                                <input type="number" min="20" class="form-control" placeholder="YY">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">Cód. segurança <i class="fa fa-question-circle"></i></label>
                                            <input type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label data-toggle="tooltip" title="">Parcelamento <i class="fa fa-question-circle"></i></label>
                                            <select class="form-control" asp-items="ViewBag.Parcelamentos"></select>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-block btn-round" type="submit"><i class="fa fa-credit-card"></i>Confirmar</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="sales">
                            <img src="~/assets/images/bandeirasPagarMe.png" style="display: block; margin-left: auto; margin-right: auto;" />
                            <p>Clique no botão para visualizar o boleto bancário.</p>
                            <p class="text-center">
                                <a class="btn btn-success btn-block btn-round" asp-controller="Pagamento" asp-action="BoletoBancario"><i class="fa fa-barcode"></i>Gerar Boleto</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/assets/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/vanilla-masker@1.1.1/lib/vanilla-masker.js"></script>
<script>
    function inputHandler(masks, max, event) {
        var c = event.target;
        var v = c.value.replace(/\D/g, '');
        var m = c.value.length > max ? 1 : 0;
        VMasker(c).unMask();
        VMasker(c).maskPattern(masks[m]);
        c.value = VMasker.toPattern(v, masks[m]);
    }

    var CepMask = ['99999-999', '99999-999'];
    var Cep = document.querySelector('input[name="cep"]');
    VMasker(Cep).maskPattern(CepMask[0]);
    Cep.addEventListener('input', inputHandler.bind(undefined, CepMask, 9), false);
   
    $(document).ready(function () {

        function limpa_formulário_cep() {
            // Limpa valores do formulário de cep.
            $("#rua").val("");
            $("#bairro").val("");
            $("#cidade").val("");
            $("#uf").val("");
        }

        //Quando o campo cep perde o foco.
        $("#cep").blur(function () {

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    $("#rua").val("...");
                    $("#bairro").val("...");
                    $("#cidade").val("...");
                    $("#uf").val("...");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#rua").val(dados.logradouro);
                            $("#bairro").val(dados.bairro);
                            $("#cidade").val(dados.localidade);
                            $("#uf").val(dados.uf);
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        });
    });

</script>