@{
    ViewData["Title"] = "Home Page";
}
<section role="main" class="content-body">
    <!-- start: page -->
    <h4><b>Plataforma</b></h4>
    <div class="owl-carousel owl-theme" data-plugin-carousel data-plugin-options='{ "dots": true, "autoplay": true, "autoplayTimeout": 3000, "loop": true, "margin": 10, "nav": false, "responsive": {"0":{"items":1 }, "600":{"items":3 }, "1000":{"items":6 } }  }'>
        <div class="item"><img class="img-thumbnail" src="~/assets/images/curso6.jpg" alt=""></div>
        <div class="item"><img class="img-thumbnail" src="~/assets/images/Course2.jpg" alt=""></div>
        <div class="item"><img class="img-thumbnail" src="~/assets/images/curso1.jpg" alt=""></div>
        <div class="item"><img class="img-thumbnail" src="~/assets/images/curso2.jpg" alt=""></div>
        <div class="item"><img class="img-thumbnail" src="~/assets/images/curso3.jpg" alt=""></div>
        <div class="item"><img class="img-thumbnail" src="~/assets/images/curso4.jpg" alt=""></div>
    </div>

    <hr>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <link rel="stylesheet" href="~/css/ModuloProdutos.css" />
        <h4><b>Meus Cursos</b></h4>
        <div class="row">
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                            <img src="~/assets/images/curso4.jpg" style="width:320px; height:190px; border-radius: 5px;" />
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                24 horas
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name"> Product</a>

                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="Lesson" class="btn btn-outline btn-danger">Acessar <i class="fa fa-youtube-play"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                            <img src="~/assets/images/Course2.jpg" style="width:320px; height:190px; border-radius: 5px;" />
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                60 horas
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name"> Product</a>



                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-outline btn-danger">Acessar <i class="fa fa-youtube-play"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





