
@model IEnumerable<WebLoja.Models.Produto>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/assets/css/jquery.mb.YTPlayer.min.css" />
<section class="home-section bg-dark-30" id="home" data-background="https://image.freepik.com/free-photo/black-metal-background-texture_88281-3955.jpg">
    <div class="video-player" data-property="{videoURL:'tFZTmMluU3I',containment:'.home-section', showControls:false, autoPlay:true, loop:true, vol:50, mute:true, startAt:10,  stopAt:30, opacity:1, addRaster:false, quality:'large', optimizeDisplay:true}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls">@*<a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a>*@</div>
        </div>
    </div>
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
            <div class="font-alt mb-40 titan-title-size-4">We are Titan</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
        </div>
    </div>
</section>
<form>
    @*<section class="module-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Conheça nossos produtos</h2>
                        <div class="module-subtitle font-serif">Produtos exclusivos especialmente para você</div>
                    </div>
                    <div class="col-sm-4 mb-sm-20">
                        <select class="form-control">
                            <option selected="selected">Default Sorting</option>
                            <option>Popular</option>
                            <option>Latest</option>
                            <option>Average Price</option>
                            <option>High Price</option>
                            <option>Low Price</option>
                        </select>
                    </div>
                    <div class="col-sm-2 mb-sm-20">
                        <select class="form-control">
                            <option selected="selected">Woman</option>
                            <option>Man</option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-sm-20">
                        <select class="form-control">
                            <option selected="selected">All</option>
                            <option>Coats</option>
                            <option>Jackets</option>
                            <option>Dresses</option>
                            <option>Jumpsuits</option>
                            <option>Tops</option>
                            <option>Trousers</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-block btn-round btn-g" type="submit">Pesquisar</button>
                    </div>
                </div>
            </div>
        </section>*@
    <hr class="divider-w">

    @* <nav class="navbar navbar-main navbar-default" role="navigation" style="opacity: 1;">

            <div class="container">
                <!-- Brand and toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links,  -->
                <div class="collapse navbar-collapse navbar-1" style="margin-top: 0px;">
                    <link rel="stylesheet" href="~/assets/css/NavBarCustom.css" />
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="" data-close-others="false">Todos Departamentos</a></li>

                        <li class="dropdown megaDropMenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Tintas <i class="fa fa-angle-down ml-5"></i></a>
                            <ul class="dropdown-menu row">
                                <li class="col-sm-3 col-xs-12">
                                    <ul class="list-unstyled">
                                        <li>Products Grid View</li>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">Sidebar Left</a></li>
                                        <li><a href="#">Products Left</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3 col-xs-12">
                                    <ul class="list-unstyled">
                                        <li>Products List View</li>
                                        <li><a href="#"> Sidebar Left</a></li>
                                        <li><a href="#">Products Left</a></li>
                                        <li><a href="#">Products Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3 col-xs-12">
                                    <ul class="list-unstyled">
                                        <li>Checkout</li>
                                        <li><a href="#">Step 1</a></li>
                                        <li><a href="#">Step 2</a></li>
                                        <li><a href="#">Step 3</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3 col-xs-12">
                                    <ul class="list-unstyled">
                                        <li>Sumit Kumar</li>
                                    </ul>
                                    <img src="~/assets/images/tintas_home_2020.jpg" class="img-responsive" alt="menu-img">
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>*@    

    <section class="module-small">
        <div class="container">
            <div class="row multi-columns-row">
                @foreach (var produto in Model)
                {
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="shop-item">
                            <div class="shop-item-image">
                                <img src="@produto.ProdutoFoto" alt="Accessories Pack" />
                                <div class="shop-item-detail"><a asp-controller="PreCarrinho" asp-action="Index" asp-route-id="@produto.ProdutoId" class="btn btn-border-d btn-circle"><i class="fa fa-search"></i> Detalhes</a></div>
                            </div>
                            <h4 class="shop-item-title font-alt"><a href='#'>@produto.ProdutoNome</a></h4>R$@produto.ProdutoValor
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center;"><a asp-controller="PreCarrinho" asp-action="Index" asp-route-id="@produto.ProdutoId" class="btn btn-success btn-circle" type="button"><i class="fa fa-shopping-cart"></i> Carrinho</a></div>
                    </div>
                }
            </div>
        </div>
    </section>


    <section class="module" data-background="~/asssets/background2.png">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3 class="module-title font-alt">Categorias</h3>
                    <div class="module-subtitle font-serif">Categorias selecionadas especialmente para você</div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/tintas_home_2020.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Tintas</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/eva_home_2020.jpg" alt="Derby shoes" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Evas</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/decoupage_home_2020.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Decoupage</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/ferramentas_home_2020.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Ferramentas</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/assets/images/pinceis_home_2020.jpg" alt="Chelsea boots" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Pincéis</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
                $(this).toggleClass('open');
            }
        );
    });
</script>